# Environment variables
.env

# Dependencies
__pycache__/
.venv

# Logs
*.log

# Data Folder
data/**/*.zip
data/**/*.csv
data/**/*.parquet
data/**/*.txt

# Cursor
.cursor/
.claude/

# Other
.DS_Store
**/*.egg-info
